#!/usr/bin/env bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

# Talosconfig
export TALOSCONFIG="$PWD/.configs/talosconfig"

# KCP
export KUBECONFIG_KCP="$PWD/.configs/kcp-kubeconfig"

# Kubernetes Cluster
export KUBECONFIG_AUTOMATED="$PWD/.configs/automation-kubeconfig"
export KUBECONFIG_INTERACTIVE="$PWD/.configs/kubeconfig"
export KUBECONFIG="$KUBECONFIG_AUTOMATED"
